<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%=msg%></title>
</head>
<body>
<center>
	<h2 aligin="center"><%=code%></h2>
	<h1 align="center"><%=msg%></h1>
</center>
</body>
</html>