<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Upload</title>
</head>
<body>
	<form action="/files/upload" method="POST" enctype="multipart/form-data">
		<h2>单图上传</h2>
		<input type="file" name="profilephoto">
		<input type="submit" value="提交">
	</form>
</body>
</html>